html
head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
body
    h1 Enter url instagram
    form(action="/" method='POST')
        input.form-control(name='url' style='width:300px' type='text' placeholder='Url....')
        br
        input.btn.btn-success(type='submit' value='Get')